<!-- start custom head snippets -->
<style>
        @import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
        </style>
        <style>
                @import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
</style>
<style>
        @import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
</style>
<style>
        @import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,700;1,300;1,400;1,700&family=Comic+Relief:wght@400;700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
        </style>
        <!--
        <style>
                @font-face {
  font-family: "Comic Helvetic";
  src:
    url("assets/fonts/ComicHelvetic/ComicHelvetic_Light.otf") format("opentype");
  }
        </style>-->
<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- end custom head snippets -->